/* body */
body {
  background-color: #219F94;
}

/* navbar */
header ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 2rem;
}

header ul li a {
  text-decoration: none;
  color: #219F94;
  margin: 1rem;
  font-family: 'Lato', sans-serif;
  padding: 1rem;
  border-radius: 2%;
}

header ul li a:hover {
  background-color: #219F94;
  color: #C1DEAE;
}

/* ccl */
.ccl1 {
  background-color: #C1DEAE;
  width: 170vh;
  height: 170vh;
  border-radius: 100%;
  position: absolute;
  top: -64rem;
  left: 11.6rem;
  z-index: -1;
}

.ccl2 {
  background-color: #219F94;
  width: 175vh;
  height: 175vh;
  border-radius: 100%;
  position: absolute;
  top: -64rem;
  left: 10rem;
  z-index: -2;
}

.ccl3 {
  background-color: #C1DEAE;
  width: 177vh;
  height: 177vh;
  border-radius: 100%;
  position: absolute;
  top: -64rem;
  left: 9.5rem;
  z-index: -3;
}
